<!DOCTYPE html>
<html>
<head>
  <title>Nathan Alexander | lvl 1 Rails Dev</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to "naidevcodes", root_path, class: "name" %>
    <nav>
      <%= link_to "The Blog", posts_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Contacts", new_contact_path %>
    </nav>
  </header>


<%= yield %>

  <footer id="main_footer">
    <p class="copyright">&copy;2015 naidevcodes </p>
    <nav>
      <a href="http://twitter.com/naidledoes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="http://templeofthewayoflight.org/" target="_blank"><i class="fa fa-heart fa-lg"></i></a>
      <a href="https://codepen.io/naidevcodes" target="_blank"><i class="fa fa-codepen fa-lg"></i></a>
      <a href="https://github.com/naidevcodes" target="_blank"><i class="fa fa-github fa-lg"></i></a>
    </nav>
  </footer>

</body>
</html>
